<!DOCTYPE html>
<html>

<head>
    <link type="image/x-icon" rel="shortcut icon" href="../static/AI.ico" >
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>智慧创作平台</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <!-- 引入 layui.js -->
    <script src="../static/layui/layui.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">
            <dd><a href="" style="color: white">翰墨</a></dd>
        </div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
                    <!-- <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img"/> -->
                    <a style="color: aliceblue;">{{ username }}</a>
                </a>
                <dl class="layui-nav-child">
                    <a href="{% url 'logout' %}">退出</a>
                </dl>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-more-vertical"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed Card">
                    <a class="" href="{% url 'index' %}">生成标题</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:">提取摘要</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{% url 'norm_ab' %}">标准摘要</a></dd>
                        <dd><a href="{% url 'long_ab' %}">长摘要</a></dd>
                        <dd><a href="{% url 'short_ab' %}">短摘要</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed Card">
                    <a class="" href="{% url 'record' %}">历史记录</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed Card">
                        <a class="" href="{% url 'Introduction' %}">关于我们</a>
                    </li>
            </ul>
        </div>
    </div>


    <div class="demoTable">
        搜索ID：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="demoReload" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
    </div>

    <table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>

    <table class="layui-table"
           lay-data="{
           height:600,
           width:1250,
           limit:10,
           url:'/record_data/',
           css: '{margin-top:5%; margin-left:15%;}',
           page:true,
           }"
           lay-filter="demoEvent">
        <thead>
        <tr>
            <th lay-data="{field:'id',width:'5%',sort:true}">ID</th>
            <th lay-data="{field:'title', width:'25%'}">标题</th>
            <th lay-data="{field:'content', width:'30%', event: 'settext', style:'cursor: pointer;'}">文章内容</th>
            <th lay-data="{field:'ab', width:'25%', event: 'setab', style:'cursor: pointer;'}">文章摘要</th>
            <th lay-data="{field:'time',width:'15%',sort:true}">时间</th>
        </tr>
        </thead>
    </table>

    <!-- 注意：项目正式环境请勿引用该地址 -->
    <script src="//unpkg.com/layui@2.7.5/dist/layui.js"></script>

    <script>
        layui.use('table', function () {
            var table = layui.table;
            //单元格事件
            table.on('tool(demoEvent)', function (obj) {
                var data = obj.data;
                if (obj.event === 'settext') {
                    layer.prompt({
                        formType: 2
                        , title: '查看 ID 为 [' + data.id + '] 的文章内容'
                        , value: data.content
                    }, function (value, index) {
                        layer.close(index);

                        //这里一般是发送修改的Ajax请求

                        //同步更新表格和缓存对应的值
                        obj.update({
                            sign: value
                        });
                    });
                }
                if (obj.event === 'setab') {
                    layer.prompt({
                        formType: 2
                        , title: '查看 ID 为 [' + data.id + '] 的文章摘要'
                        , value: data.ab
                    }, function (value, index) {
                        layer.close(index);

                        //这里一般是发送修改的Ajax请求

                        //同步更新表格和缓存对应的值
                        obj.update({
                            sign: value
                        });
                    });
                }
            });
        });
    </script>
</div>

<div class="layui-footer">
    <!-- 底部固定区域 -->
</div>

<script>
    //JS
    layui.use(["element", "layer", "util"], function () {
        var element = layui.element,
            layer = layui.layer,
            util = layui.util,
            $ = layui.$;

        //头部事件
        util.event("lay-header-event", {
            //左侧菜单事件
            menuLeft: function (othis) {
                layer.msg("展开左侧菜单的操作", {
                    icon: 0,
                });
            },
            menuRight: function () {
                layer.open({
                    type: 1,
                    content: '<div style="padding: 15px;"></div>',
                    area: ["260px", "100%"],
                    offset: "rt", //右上角
                    anim: 5,
                    shadeClose: true,
                });
            },
        });
    });
</script>
</body>

</html>


{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <meta charset="utf-8"/>#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>#}
{#    <title>智慧创作平台</title>#}
{#    <link rel="stylesheet" href="../static/layui/css/layui.css"/>#}
{#    <!-- 引入 layui.js -->#}
{#    <script src="../static/layui/layui.js"></script>#}
{#    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>#}
{#</head>#}
{#<body>#}
{##}
{#<table class="layui-table"#}
{#       lay-data="{height: 608, url:'../static/json/user.json',width:800,css: '{margin-top:3cm;margin-left:3cm}'}"#}
{#       lay-filter="demoEvent"#}
{#       style="margin-top: 500px">#}
{#    <thead>#}
{#    <tr>#}
{#        <th lay-data="{field:'id',width:'5%'}">ID</th>#}
{#        <th lay-data="{field:'username', width:'20%'}">标题</th>#}
{#        <th lay-data="{field:'sign', width:'35%', event: 'settext', style:'cursor: pointer;'}">文章内容</th>#}
{#        <th lay-data="{field:'sign', width:'30%', event: 'setab', style:'cursor: pointer;'}">摘要</th>#}
{#        <th lay-data="{field:'score',width:'10%'}">时间</th>#}
{#    </tr>#}
{#    </thead>#}
{#</table>#}
{##}
{##}
{#<!-- 注意：项目正式环境请勿引用该地址 -->#}
{#<script src="//unpkg.com/layui@2.7.5/dist/layui.js"></script>#}
{##}
{#<script>#}
{#    layui.use('table', function () {#}
{#        var table = layui.table;#}
{#        //单元格事件#}
{#        table.on('tool(demoEvent)', function (obj) {#}
{#            var data = obj.data;#}
{#            if (obj.event === 'settext') {#}
{#                layer.prompt({#}
{#                    formType: 2#}
{#                    , title: '查看 ID 为 [' + data.id + '] 的文章内容'#}
{#                    , value: data.sign#}
{#                }, function (value, index) {#}
{#                    layer.close(index);#}
{##}
{#                    //这里一般是发送修改的Ajax请求#}
{##}
{#                    //同步更新表格和缓存对应的值#}
{#                    obj.update({#}
{#                        sign: value#}
{#                    });#}
{#                });#}
{#            }#}
{#            if (obj.event === 'setab') {#}
{#                layer.prompt({#}
{#                    formType: 2#}
{#                    , title: '查看 ID 为 [' + data.id + '] 的文章摘要'#}
{#                    , value: data.sign#}
{#                }, function (value, index) {#}
{#                    layer.close(index);#}
{##}
{#                    //这里一般是发送修改的Ajax请求#}
{##}
{#                    //同步更新表格和缓存对应的值#}
{#                    obj.update({#}
{#                        sign: value#}
{#                    });#}
{#                });#}
{#            }#}
{#        });#}
{#    });#}
{#</script>#}
{##}
{#</body>#}
{#</html>#}